{% load staticfiles %}
<html>
<head>
 {% block extra_css %}{% endblock extra_css %}
 <link rel="stylesheet/less" href="{% static 'less/bootstrap.less' %}">
  <script type="text/javascript">
    less = {
      env: "development", // or "production"
      async: false,       // load imports async
      fileAsync: false,   // load imports async when in a page under
      // a file protocol
      poll: 1000,         // when in watch mode, time in ms between polls
      functions: {},      // user functions, keyed by name
      dumpLineNumbers: "comments", // or "mediaquery" or "all"
      relativeUrls: false,// whether to adjust url's to be relative
      // if false, url's are already relative to the
      // entry less file
      rootpath: ""// a path to add on to the start of every url
      //resource
    };
  </script>


{% block jquery %}<script src="{% static 'js/jquery.js' %}"></script>{% endblock jquery %}
<script src="{% static 'js/less-1.3.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
<script src="{% static 'js/bootstrap-tab.js' %}"></script>
<script src="{% static 'js/bootstrap-transition.js' %}"></script>
    <script src="{% static 'js/bootstrap-alert.js' %}"></script>
<script src="{% static 'js/holder.js' %}"></script>


</head>

<body>

<nav>
<div class="navbar">
<div class="navbar-inner">
<div class="container">
{% if user.is_authenticated %}
<p><a href="{% url 'accounts:profile' user.username %}">{{ user.username }}</a></p>
<p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
<p><a href="{% url 'login' %}">Login</a></p>
<p><a href="{% url 'accounts:signup' %}">Signup</a></p>
{% endif %}
<ul class="nav">
    <li class="dropdown"><a href="#" data-toggle="dropdown">ChangeOrders</a>
        <ul class="dropdown-menu">
            <li class="dropdown"><a href="{% url 'changes:change-list' %}">List ChangeOrders</a></li>
            <li><a href='{% url 'changes:change-form' %}'>Create ChangeOrder</a></li>
        </ul>
    </li>
<li class="dropdown"><a href="#" data-toggle="dropdown">Tasks</a>
<ul class="dropdown-menu">
<li><a href='{% url 'tasks:task-form' %}'>Create Task</a></li>
</ul>
</li>
{% if user.is_authenticated %}
<li class="dropdown"><a href="#" data-toggle="dropdown">Projects</a>
<ul class="dropdown-menu">
<li><a href="{% url 'projects:project-list' user.id %}">My Projects</a></li>
    <li><a href="{% url 'projects:project-wizard' %}">New Projects</a></li>
</ul>
</li>
{% endif %}
    <li class="dropdown"><a href="#" data-toggle="dropdown">Updates</a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'updates:update-list' %}">My Updates</a></li>
            <li><a href="{% url 'updates:update-form' %}">New Updates</a></li>
        </ul>
    </li>
    {% if user.is_authenticated %}
    <li class="dropdown"><a href="#" data-toggle="dropdown">Messages</a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'messages:message-list' user.id %}">My Messages</a></li>
            <li><a href="{% url 'messages:message-form' %}">New Messages</a></li>
        </ul>
    </li>
{% endif %}
</ul>
</div>
</div>
</div>

    <header>
    <div class="container">
        <div class="page-header">
            <h1>{% block title %}{% endblock title %}</h1>
        </div>
            {% block intro %}{% endblock intro %}
        <ul class="nav nav-tabs sub-menu">
            {% block sub_menu %}{% endblock sub_menu %}
        </ul>
    </div>
    </header>





<article>
<div class="container">

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}

{% block content %}{% endblock %}

</div>
</article>

{% block extra_js %}{% endblock extra_js %}
</body>
</html>
