{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}


{% block title %}New Project{% endblock title %}

{% block content %}

    <div class="row">
        <div class="span8">
            <div class="well pad-0" id="form-wizard">
                <div class="header">
                    <i class="pull-left icon-briefcase colour"></i>

                    <h2 id='project-title'>Project Wizard</h2>
                </div>
                <div class="">
                    <ul class="nav nav-tabs" id="step-nav">
                        <li class="active">
                            <a href="#new-project">Project</a>
                        </li>
                        <li>
                            <a href="#new-category">Categories</a>
                        </li>
                        <li>
                            <a href="#new-task">Tasks</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">


                    <div class="tab-pane active" id="new-project">
                        <div class="instructions">
                            <p class="lead">
                                Step 1: Create New Project
                            </p>
                            <p>
                                Fill out the fields below to create a new project.
                                Next you will add categories and tasks to this projects
                            </p>
                            <p class="success-message">
                                New Project added!
                            </p>
                        </div>
                        {% crispy form %}
                    </div>
                    <div class="tab-pane" id="new-category">
                        <div class="instructions">
                            <p class="lead">
                                Step 2: Modify or Create Categories
                            </p>

                            <p>
                                Fill out the fields below to create a new categories or skip this step and reuse
                                existing categories.
                            </p>

                            <p class="success-message">
                                New Category added! Now create tasks for this project.
                            </p>
                        </div>
                        {% crispy task_category_form %}
                    </div>
                    <div class="tab-pane" id="new-task">
                        <div class="instructions">
                            <p class="lead">
                                Step 3: Create Tasks
                            </p>
                            <p>
                                Fill out the fields below to create a new project.
                                Next you will add categories and tasks to this projects
                            </p>
                            <p class="success-message">
                                New Task added!
                            </p>
                        </div>
                        {% crispy task_form %}
                    </div>

                </div>
            </div>
        </div>
        <div class="span4">
            <h3>Task Categories</h3>
            <ul class="nav nav-list" id="task-category-list">
                {% for cat in task_categories %}
                    <li id="category_{{ cat.id }}"><a href="{{ cat.get_update_url }}">{{ cat.title }}</a>
                        <ul class="nav nav-list" id="ul-category-{{ cat.id }}"></ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static 'js/projects/projectWizard.js' %}"></script>

    <script type="text/javascript">
        $('#task-category-list').sortable({
            update: function(event, ui) {
                console.log(ui.item);
            },
            change: function(event, ui) {
                console.log(ui.item)
            },
            stop: function(event, ui) {
                console.log($(this).sortable('serialize', {key: 'form'}));
            }
        });
        var task_form_url = "{% url 'tasks:task-form' %}";
        var category_form_url = "{% url 'tasks:task-category-form' %}";
        var project_form_url = "{% url 'projects:project-form' %}";


        // Temp hack for updating projects looks in url for ?project=pk
        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return decodeURIComponent(sParameterName[1]);
                }
            }
        }

        var project_url_id = GetURLParameter('project');
        if (project_url_id) {
            alert(project_url_id);
            project_form_url = '/cpm/update/' + project_url_id + '/';
            project_id = project_form_url;
        }

        // Have to replace the OG form, therwise 2 csrf tokens are sent
        getProjectForm(project_form_url);
        getTaskCategoryForm(category_form_url);

    </script>

{% endblock extra_js %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}">
    <style>
        .success-message {
            display: none;
        }

        .pad-0 {
            padding: 0;
        }

        .margin-0 {
            margin: 0;
        }

        .well .header {
            width: 100%;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        .header i {
            padding: 15px;;
            font-size: 60px;
        }

        .header .colour {
            color: #f7f7f7;
        }

        .header .colour:hover {
            color: #19C1C3;
        }

        .header h2 {
            line-height: 90px;
            color: #fff;
            margin: 0;
        }

        .header {
            padding: 0 0;
            background: #323A45;
            margin: 0 auto 20px;
            height: 86px;
            width: 100%;
            z-index: 1000;
        }

        .form-actions, form {
            margin-bottom: 0;
        }

        .form-actions {
            background-color: #d3d3d3;
        }

        .header h2 {
            line-height: 90px;
            color: #fff;
            margin: 0;
        }
    </style>
{% endblock extra_css %}


